<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is my app. Hello everyone</h1>
    <div>please login</div>
    <hr>
    <form action="/" method="post">
        User<input name="username">
        <br>
        Password<input name="pwd" type="password">
        <br>
        <input type="submit" value="Login">
    </form>

</body>
</html>